services:
  client:
    build:
      context: .
      dockerfile: Dockerfile.development
    ports:
      - "5173:5173"
    env_file:
      - .env
    tty: true

networks:
  bridge_network:
    external: true
    name: dualstack_bridge
