/* Button Components */
button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
  user-select: none;
}

button:hover {
  opacity: 0.9;
}

button.primary {
  border: none;
  background: var(--primary-green);
  color: white;
}

button:disabled {
  color: var(--text-color);
  opacity: 0.7;
  pointer-events: none;
  background-color: var(--border-color);
}

/* Form Components */
select {
  border: none;
  background-color: transparent;
}

select:focus {
  border-radius: 4px;
  background-color: var(--background-color);
}

input,
textarea {
  outline: none;
  border-radius: 4px;
  box-shadow: none;
  resize: none;
}

input:focus,
textarea:focus {
  outline: none;
  box-shadow: none;
}

/* Custom input types */
input[type="date"]::-webkit-calendar-picker-indicator,
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.blur-bg,
.glass-panel,
.glass-button,
.chat-input-container {
  backdrop-filter: blur(9px) !important;
  /* Force GPU rendering */
  transform: translateZ(0);
  /* Optimization hints */
  will-change: backdrop-filter;
  isolation: isolate;
}

/* Blur Effect */
.blur-bg {
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
}

/* Glass Panel Component */
.glass-panel {
  position: relative;
  user-select: none;
  background: var(--glass-panel-color);
  border-color: var(--border-color);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
}

/* GlassButton.css */
.glass-button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 9999px !important;
  transition: all 200ms ease;
  background: var(--glass-panel-color);
  border: 3px solid var(--input-border-color);
  box-shadow: 0 10px 30px -10px rgba(0, 0, 0, 0.3);
}

.glass-button.active {
  color: var(--background-color);
  background: var(--primary-color) !important;
  border: 3px solid var(--glass-panel-color);
  font-weight: bold !important;
}

.glass-button:hover {
  opacity: 100%;
  transform: scale(1.1);
  color: white;
  background-color: var(--primary-green) !important;
}

.glass-button:active {
  transform: scale(0.9);
}

/* Chat list item base */
.chat-list-item {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  gap: 0.75rem;
  padding: 1rem 0.75rem;
  cursor: pointer;

  transition: all 300ms ease-in-out;
  border-bottom: 1px solid var(--border-color);
}

/* Hover state (inactive only) */
.chat-list-item:hover {
  background-color: var(--hover-color);
}

/* Active state */
.chat-list-item.active {
  background-color: var(--primary-green-50);
}

.chat-header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  user-select: none;
  z-index: 2;

  background: linear-gradient(
    to bottom,
    var(--background-color) 9%,
    transparent
  );
}

.chat-bottom {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.75rem;
  user-select: none;
  z-index: 2;

  background: linear-gradient(to top, var(--background-color) 9%, transparent);
}

.chat-bottom.has-reply {
  z-index: 100 !important;
}

/* Context Menu */
.context-menu {
  position: fixed;
  z-index: 9999 !important;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow:
    0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
  background: var(--background-color);
  border: 2px solid var(--border-color);
}

/* Input Components */
.input-field,
.input-container,
.chat-voice-input-container,
.chat-input-container {
  width: 100%;
  padding: 5px !important;
  border-radius: 6px;
  border: 2px solid var(--input-border-color);
  background-color: var(--input-color);
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}

.input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}

.chat-input-container {
  display: flex;
  align-items: flex-end;
  min-height: var(--chat-input-container-height);
  border-width: 3px;
}

.chat-voice-input-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: var(--chat-input-container-height);
  border-width: 3px;
  padding: 8px !important;
  /* border: none !important; */
  /* background: var(--border-color); */
  backdrop-filter: blur(8px);
  overflow: hidden;
}

.input-container:focus-within,
.chat-input-container:focus-within {
  border-color: var(--primary-green-glow);
  box-shadow: 0 0 2px var(--primary-green-glow);
}

.input-field {
  display: block;
}

/* Icon Components */
.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1;
}

/* Sidebar Components */
.sidebar-button {
  display: flex;
  align-items: center;
  height: 54px;
  gap: 16px;
  padding: 20px 16px;
  cursor: pointer;
}

/* Message Components */
.message-bubble {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  overflow: hidden;
  min-width: calc(var(--message-tail-dimension) + 9px);
  border: 1px solid transparent;
  border-radius: var(--message-border-radius);
  background-color: var(--message-color);
  word-break: break-word;
  white-space: pre-wrap;
  cursor: pointer;
  transform-origin: bottom left;
  transition: transform var(--transition-default);
  will-change: transform;
  /* box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.2); */
}

.message-bubble-reply {
  border: 2px solid var(--primary-green-glow);
  box-shadow: 0 0 12px var(--primary-green-glow);
}

.message-bubble.self-message {
  background-color: var(--primary-green);
  transform-origin: bottom right;
  color: white;
}

.message-tail {
  z-index: -1;
  width: var(--message-tail-dimension);
  height: var(--message-tail-dimension);
  margin-top: calc(var(--message-tail-dimension) * -0.8);
  margin-left: calc(var(--message-tail-dimension) * -0.3);
  margin-right: calc(var(--message-tail-dimension) * -0.3);
  background: var(--message-color);
}

.message-tail.self-message {
  transform: scaleX(-1);
  background: var(--primary-green);
}

/* Navigation Components */
.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  opacity: 0.5;
  cursor: pointer;
}

.nav-btn:hover {
  opacity: 1;
}

/* Settings Components */
.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  cursor: pointer;
  user-select: none;
  transition:
    color var(--transition-default),
    background-color var(--transition-default);
  border-bottom: 1px solid var(--border-color);
}

.settings-item:hover {
  background-color: var(--hover-color);
}

.settings-item.selected {
  background-color: var(--primary-green);
  color: white;
}

.settings-item.disabled {
  opacity: 0.4;
  cursor: not-allowed;
  pointer-events: none;
}

.settings-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem;
  border-bottom: 1px solid var(--border-color);
}

/* Custom Slider */
.custom-slider::-webkit-slider-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 9999px;
  background: white;
  border: 2px solid var(--border-color);
  cursor: pointer;
}

/* Zoom Image */
.zoom-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform var(--transition-default);
  will-change: transform;
}

.zoom-image.zoomed {
  cursor: zoom-out;
}