/* Custom utilities layer */
@layer utilities {
  /* Scrollbar Utilities */
  ::-webkit-scrollbar {
    width: 4px;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color);
    border: 2px solid transparent;
    border-radius: 4px;
  }

  ::-webkit-scrollbar-thumb:hover {
    width: 8px;
    background-color: var(--scrollbar-hover-color);
  }

  /* Border Utilities */
  .custom-border {
    border: 1px solid var(--border-color);
  }

  .custom-border-t {
    border-top: 1px solid var(--border-color);
  }

  .custom-border-l {
    border-left: 1px solid var(--border-color);
  }

  .custom-border-r {
    border-right: 1px solid var(--border-color);
  }

  .custom-border-b {
    border-bottom: 1px solid var(--border-color);
  }

  /* Message Tail Utilities */
  .message-tail-circle {
    clip-path: ellipse(30% 30% at 50% 50%);
  }

  .message-tail-straight {
    margin-top: calc(var(--message-tail-dimension) * -1) !important;
    clip-path: polygon(100% 0, 0 100%, 100% 100%);
  }

  .message-tail-straight-curved {
    margin-top: calc(var(--message-tail-dimension) * -1) !important;
clip-path: polygon(0% 100%, 20% 92%, 31% 82%, 35% 66%, 33% 50%, 32% 30%, 40% 0, 100% 0%, 100% 100%);
  }

  .message-tail-pointed {
    clip-path: polygon(100% 0, 0% 100%, 100% 60%);
  }

  .message-tail-pointed-curved {
clip-path: polygon(0% 100%, 20% 92%, 37% 82%, 48% 69%, 55% 54%, 59% 38%, 60% 21%, 60% 0, 100% 0%, 100% 30%, 94% 52%, 84% 68%, 74% 78%, 63% 87%, 48% 93%, 30% 97%);
  }

  /* Text Utilities */
  .two-line-truncate {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  .reply-text {
    white-space: normal;
    overflow-wrap: break-word;
    word-break: break-word;
  }
}
