@import "tailwindcss";

@plugin "tailwind-scrollbar-hide";
@variant dark (&:where([data-theme="dark"], [data-theme="dark"] *));

@layer utilities {
  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    width: 4px !important;
  }

  ::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-color) !important;
    border: 2px solid transparent !important;
    border-radius: 4px !important;
  }

  ::-webkit-scrollbar-thumb:hover {
    width: 8px !important;
    background-color: var(--scrollbar-hover-color) !important;
  }
}

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  --header-height: 60px;

  --sidebar-width: 300px;
  --sidebar-width-small: 96px;
  --sidebar-width-large: 400px;
  --attachment-width: 300px;
  --attachment-width-large: 450px;
  --attachment-height: 420px;
  --pinned-message-height: 44px;

  --primary-color: #247cff;
  --primary-green: #00ae80;
  --primary-green-50: #00ae8089;
  --primary-green-glow: rgba(134, 239, 172, 1);

  /* light theme defaults */
  --text-color: black;
  --avatar-background: rgb(200, 200, 200);
  --background-color: #ffffff;
  --sidebar-color: #eee;
  --active-chat-color: #00cf98d2; /* or any color you prefer */
  --input-color: rgba(150, 150, 150, 0.1);
  --input-border-color: rgba(0, 0, 0, 0.3);
  --border-color: rgba(0, 0, 0, 0.2);
  --hover-color: #ddd;
  --message-color: #eee;
  --message-color-50: #eeeeee74;
  --scrollbar-color: #c1c1c1;
  --scrollbar-hover-color: #a8a8a8;

  --card-bg-color: white;
}

/* Dark mode styles */
html[data-theme="dark"] {
  color-scheme: dark;

  --text-color: white;
  --avatar-background: rgb(60, 60, 60);
  --background-color: #121212;
  --sidebar-color: #222;
  --border-color: rgba(255, 255, 255, 0.1);
  --input-color: rgba(0, 0, 0, 0.1);
  --input-border-color: rgba(255, 255, 255, 0.2);
  --hover-color: rgba(122, 122, 122, 0.2);
  --message-color: #303030;
  --message-color-50: #303030ac;
  --scrollbar-color: #5f5f5f;
  --scrollbar-hover-color: #d0d0d0;
  --card-bg-color: rgb(20, 20, 20);
}

html {
  margin: 0;
  overflow: none;
  min-width: 320px;
  min-height: 100vh;
  overflow-x: hidden;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 4px;
  text-align: center;
  cursor: pointer;
  font-size: 1rem;
}
button:hover {
  opacity: 0.9;
}
button.primary:disabled,
button:disabled {
  color: var(--text-color);
  opacity: 0.7;
  pointer-events: none;
  background-color: var(--border-color);
}
button:disabled:hover {
  opacity: 1;
}
button.primary {
  border: none;
  background: var(--primary-green);
  color: white;
}
button:focus {
  outline: none;
  box-shadow: none;
}

video:focus {
  outline: none;
  box-shadow: none;
}

select {
  border: none !important;
  background-color: transparent !important;
}
select:focus {
  border-radius: 4px !important;
  background-color: var(--bg-color) !important;
}

input,
textarea {
  outline: none;
  border-radius: 4px !important;
  box-shadow: none;
  /* background-color: transparent !important; */
  resize: none;
}

input:focus,
textarea:focus {
  outline: none !important;
  box-shadow: none !important;
}

/* Hide the datepicker dropdown but keep the input */
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

/* Optional: Hide the dropdown arrow in Firefox */
input[type="date"]::-moz-calendar-picker-indicator {
  display: none;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.microlink_card {
  width: 100% !important;
  max-width: 100% !important;
  background-color: transparent !important;
  border: none !important;
  color: var(--text-color) !important;
  border-radius: 8px !important;
}

.microlink_card .microlink_media {
  border-radius: 8px !important;
  overflow: hidden !important;
}

.microlink_card .microlink_image {
  border-radius: 8px !important;
}

.input {
  height: 36px;
  width: 100%;
  padding: 6px;
  border: 2px solid var(--input-border-color);
  background-color: var(--input-color);
  border-radius: 4px;
}

.chat-input,
.chat-input-reply {
  height: 36px;
  width: 100%;
  padding: 6px;
  padding-right: 3px;
  background-color: var(--input-color);
  border-radius: 4px;
  transition: border 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.chat-input {
  border: 2px solid var(--input-border-color);
}

.chat-input-reply {
  border: 2px solid var(--primary-green-glow);
  box-shadow: 0 0 8px var(--primary-green-glow);
}

/* icon */
.material-symbols-outlined.filled {
  font-variation-settings: "FILL" 1;
}

.blur-card {
  color: white;
  background: rgba(255, 255, 255, 0.1); /* White with 10% opacity */
  backdrop-filter: blur(10px); /* Blur the background behind */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  border: 1px solid rgba(255, 255, 255, 0.2); /* Optional custom border */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); /* Equivalent to shadow-xl */
  overflow: hidden;
}

.custom-border {
  border: 1px solid var(--border-color);
}
.custom-border-t {
  border-top: 1px solid var(--border-color);
}
.custom-border-l {
  border-left: 1px solid var(--border-color);
}
.custom-border-r {
  border-right: 1px solid var(--border-color);
}
.custom-border-b {
  border-bottom: 1px solid var(--border-color);
}

.sidebar-button {
  display: flex;
  align-items: center;
  height: 54px;
  gap: 16px;
  padding: 20px 16px;
  cursor: pointer;
}

/* Shared Styles for Both Bubbles */
.message-bubble-wrapper {
  position: relative;
  border-radius: 8px;
  background-color: var(--message-color);
  word-break: break-word;
  white-space: pre-wrap;
  cursor: pointer;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transform-origin: bottom left;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.message-bubble {
  position: relative;
  border-radius: 8px;
  background-color: var(--message-color);
  word-break: break-word;
  white-space: pre-wrap;
  cursor: pointer;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  transform-origin: bottom left;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

.message-bubble p {
  padding: 8px;
}

.message-bubble-reply {
  border: 2px solid var(--primary-green-glow);
  box-shadow: 0 0 12px var(--primary-green-glow);
}

/* Hover Effect */
.message-bubble:hover,
.message-forward-bubble:hover:hover {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  /* transform: scale(1.1); */
}

/* Self Message Bubbles (Right-Aligned) */
.message-bubble.self-message,
.message-forward-bubble.self-message.self-message {
  background-color: var(--active-chat-color);
  transform-origin: bottom right;
  color: white;
}

/* Channel-specific Bubble (Optional Adjustment) */
.channel-message-bubble {
  transform-origin: center;
}

/* Scrolling to message */
.highlight-message {
  animation: highlight 0.5s;
}

@keyframes highlight {
  0% {
    scale: 2;
    opacity: 0.2;
  }
  75% {
    scale: 0.94;
    opacity: 0.8;
  }
  100% {
    scale: 1;
    opacity: 1;
  }
}

.nav-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;
  opacity: 0.5;
  cursor: pointer;
  /* border: 1px solid white; */
}

.nav-btn:hover {
  opacity: 1;
}

/* styles.css */
.two-line-truncate {
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Custom slider styles */
.custom-slider::-webkit-slider-thumb {
  appearance: none;
  height: 12px;
  width: 12px;
  border-radius: 9999px;
  background: white;
  border: 2px solid var(--border-color);
  cursor: pointer;
}

.zoom-image-container {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.zoom-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: transform 0.3s ease;
}

.zoom-image.zoomed {
  cursor: zoom-out;
}

.reply-text {
  white-space: normal;
  overflow-wrap: break-word;
  word-break: break-word;
}

.settings-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem; /* same as Tailwind's p-4 */
  cursor: pointer;
  user-select: none;
  transition: color 0.2s ease, background-color 0.2s ease;
  border-bottom: 1px solid var(--border-color);
}

.settings-item:hover {
  background-color: var(--hover-color);
}

.settings-item.selected {
  background-color: var(--primary-green);
  color: white;
}

.settings-item.disabled {
  opacity: 0.4; /* faded look */
  cursor: not-allowed;
  pointer-events: none; /* prevent clicks */
  background-color: transparent; /* no hover effect */
}

.settings-option {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1rem; /* same as Tailwind's p-4 */
  border-bottom: 1px solid var(--border-color);
}
