services:
  server:
    build:
      context: ./server
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env
    depends_on:
      - livekit
    restart: unless-stopped

  livekit:
    image: livekit/livekit-server:latest
    ports:
      - "7880:7880"
      - "7881:7881"
      - "7882:7882/udp"
      - "3478:3478/udp"
    volumes:
      - ./livekit-server/livekit.yaml:/livekit.yaml:ro
    command: --config /livekit.yaml
    restart: unless-stopped

# networks:
#   bridge_network:
#     external: true
#     name: dualstack_bridge
networks:
  default:
    external:
      name: dualstack_bridge