services:
  # React Frontend
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.development
    ports:
      - "5173:5173"
    env_file:
      - ./client/.env.development
    tty: true

  # NestJS Backend
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.development
    ports:
      - "3000:3000"
    env_file:
      - ./server/.env.development
    restart: unless-stopped
    tty: true

  # LiveKit Server
  # livekit:
  #   image: livekit/livekit-server:latest
  #   ports:
  #     - "7880:7880"
  #     - "7881:7881"
  #     - "7882:7882/udp"
  #     - "50000-50200:50000-50200/udp" # WebRTC media range
  #   volumes:
  #     - ./livekit-server/livekit.yaml:/livekit.yaml:ro
  #   command: --config /livekit.yaml
  #   restart: unless-stopped

#  db:
#    image: postgres:16
#    restart: always
#    environment:
#      POSTGRES_USER: ${POSTGRES_USER}
#      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
#      POSTGRES_DB: ${POSTGRES_DB}
#    ports:
#      - "5432:5432"
#    volumes:
#      - db_data:/var/lib/postgresql/data

#volumes:
#  db_data:

networks:
  default:
    external:
      name: dualstack_bridge
