version: "3.8"

services:
  # React Frontend
  client:
    build:
      context: ./client
      dockerfile: Dockerfile.dev
    ports:
      - "5173:5173"
    volumes:
      - ./client:/app
      - /app/node_modules
    environment:
      - NODE_ENV=${NODE_ENV}
      - VITE_API_URL=${VITE_API_URL}
      - VITE_SUPABASE_URL=${SUPABASE_URL}
      - VITE_SUPABASE_ANON_KEY=${SUPABASE_ANON_KEY}
      - VITE_SUPABASE_AVATAR_BUCKET=${SUPABASE_AVATAR_BUCKET}
      - VITE_SUPABASE_ATTACHMENTS_BUCKET=${SUPABASE_ATTACHMENTS_BUCKET}
      - VITE_LIVEKIT_URL=ws://localhost:7880
    command: npm run dev -- --host
    stdin_open: true
    tty: true
    depends_on:
      - server
      - livekit

  # NestJS Backend
  server:
    build:
      context: ./server
      dockerfile: Dockerfile.dev
    ports:
      - "3000:3000"
    volumes:
      - ./server:/app
      - /app/node_modules
    environment:
      - NODE_ENV=${NODE_ENV}
      - POSTGRES_HOST=${POSTGRES_HOST}
      - POSTGRES_PORT=${POSTGRES_PORT}
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      - CLIENT_URL=${CLIENT_URL}
      - SERVER_URL=${SERVER_URL}
      - BCRYPT_SALT_ROUNDS=${BCRYPT_SALT_ROUNDS}
      - JWT_ACCESS_EXPIRATION=${JWT_ACCESS_EXPIRATION}
      - JWT_REFRESH_EXPIRATION=${JWT_REFRESH_EXPIRATION}
      - REFRESH_TOKEN_EXPIRATION_MS=${REFRESH_TOKEN_EXPIRATION_MS}
      - JWT_ALGORITHM=${JWT_ALGORITHM}
      - JWT_ACCESS_SECRET=${JWT_ACCESS_SECRET}
      - JWT_REFRESH_SECRET=${JWT_REFRESH_SECRET}
      - JWT_VERIFICATION_SECRET=${JWT_VERIFICATION_SECRET}
      - EMAIL_SERVICE=${EMAIL_SERVICE}
      - EMAIL_USER=${EMAIL_USER}
      - EMAIL_PASS=${EMAIL_PASS}
      - SUPABASE_AVATAR_BUCKET=${SUPABASE_AVATAR_BUCKET}
      - SUPABASE_ATTACHMENTS_BUCKET=${SUPABASE_ATTACHMENTS_BUCKET}
      - SUPABASE_URL=${SUPABASE_URL}
      - SUPABASE_SERVICE_ROLE_KEY=${SUPABASE_SERVICE_ROLE_KEY}
      - LIVEKIT_URL=http://livekit:7880
      - LIVEKIT_API_KEY_NAME=${LIVEKIT_API_KEY_NAME}
      - LIVEKIT_API_KEY_SECRET=${LIVEKIT_API_KEY_SECRET}
    extra_hosts:
      - "host.docker.internal:host-gateway"
    command: npm run start:dev
    stdin_open: true
    tty: true
    depends_on:
      - livekit

  # LiveKit Server
  livekit:
    image: livekit/livekit-server:latest
    ports:
      - "7880:7880"
    volumes:
      - ./livekit-docker/livekit.yaml:/livekit.yaml
    command: --config /livekit.yaml
    environment:
      - LIVEKIT_HOST=0.0.0.0

networks:
  default:
    driver: bridge
