services:
  server:
    build:
      context: .
      dockerfile: Dockerfile.development
    ports:
      - '3000:3000'
    env_file:
      - .env.development
    restart: unless-stopped
    tty: true

networks:
  default:
    external:
      name: dualstack_bridge
